body {
  background: linear-gradient(135deg, #e0f7fa 0%, #f7fafd 100%);
}

header {
  background: #7de0f8;
  padding: 2.0rem;
  margin-block: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
h1, h2 {
  color: #232c3d;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.nav-bar {
  text-align: center;
  list-style: none;
}

.nav-bar a {
  color: #ffffff;
}

img {
  width: 200px;
  height: 200px;
  padding: 24px;
  background-color: #fff;
  border: 4px solid #7de0f8;
}

.img2 {
  width: 201px;
  height: 437px;
  padding: 24px;
  background-color: #fff;
  border: 4px solid #7de0f8;
}

.container {
  margin-top:  1.5rem;
  margin-left: 30rem;
  margin-right: 30rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.omkring {
  align-items: center;
  gap: 1.5rem;
}


